<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.icitemclass.mapper.IcitemClassMapper">

    <resultMap id="icitemClassResult" type="IcitemClass">
   		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="sort" column="sort" />
		<result property="parentIds" column="parentIds" />
		<result property="erpId" column="erpId" />
		<result property="number" column="number" />
		<result property="modifyTime" column="modifyTime" />
		<result property="erpNote" column="erpNote" />
		<association property="hasChildren" column="id" select="hasChildren" />
    </resultMap>
    
	<sql id="icitemClassColumns">
		a.id AS "id",
		a.f_erpid AS "erpId",
		a.f_number AS "number",
		a.f_name AS "name",
		a.f_modifytime AS "modifyTime",
		a.f_erpnote AS "erpNote",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.parent_id AS "parent.id",
		a.parent_ids AS "parentIds",
		a.name AS "name",
		a.sort AS "sort"
	</sql>
	

	

	<sql id="icitemClassJoins">
		
	</sql>
	

    
	<select id="get" resultType="IcitemClass">
		SELECT 
			<include refid="icitemClassColumns"/>
		FROM tb_icitemclass a
		<include refid="icitemClassJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="IcitemClass">
		SELECT 
			<include refid="icitemClassColumns"/>
		FROM tb_icitemclass a
		<include refid="icitemClassJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="number != null and number != ''">
				AND a.f_number LIKE 
					<if test="dbName == 'oracle'">'%'||#{number}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{number}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{number},'%')</if>
			</if>
			<if test="name != null and name != ''">
				AND a.f_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="parent != null and parent.id != null and parent.id != ''">
				AND a.parent_id = #{parent.id}
			</if>
			<if test="parentIds != null and parentIds != ''">
				AND a.parent_ids LIKE 
					<if test="dbName == 'oracle'">'%'||#{parentIds}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{parentIds}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{parentIds},'%')</if>
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
		ORDER BY a.sort ASC
	</select>

    <select id="findListForWechat" resultType="IcitemClass">
        SELECT
        <include refid="icitemClassColumns"/>
        FROM tb_icitemclass a
        <include refid="icitemClassJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            AND a.f_name NOT IN ('成品','半成品','大板类','胚板类')
        </where>
        ORDER BY a.sort ASC
    </select>
	
	<select id="findAllList" resultType="IcitemClass">
		SELECT 
			<include refid="icitemClassColumns"/>
		FROM tb_icitemclass a
		<include refid="icitemClassJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		ORDER BY a.sort ASC
	</select>
	
	<select id="getChildren" parameterType="String" resultMap="icitemClassResult">  
        select * from tb_icitemclass where parent_id = #{id} ORDER BY sort 
    </select> 
     
    <select id="hasChildren" parameterType="String" resultType="Boolean">  
        select case when exists(select 1 from tb_icitemclass where parent_id = #{id}) then 1 else 0 end ${dual}
    </select>
    
	<select id="findByParentIdsLike" resultType="IcitemClass">
		SELECT
			a.id,
			a.parent_id AS "parent.id",
			a.parent_ids
		FROM tb_icitemclass a
		<include refid="icitemClassJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			AND a.parent_ids LIKE #{parentIds}
		</where>
		ORDER BY a.sort ASC
	</select>

	<select id="findMaxModifyTime" resultType="java.lang.Long">
		SELECT MAX(f_modifytime) FROM tb_icitemclass
	</select>
	
	<insert id="insert">
		INSERT INTO tb_icitemclass(
			id,
			f_erpid,
			f_number,
			f_name,
			f_modifytime,
			f_erpnote,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			parent_id,
			parent_ids,
			name,
			sort
		) VALUES (
			#{id},
			#{erpId},
			#{number},
			#{name},
			#{modifyTime},
			#{erpNote},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{parent.id},
			#{parentIds},
			#{name},
			#{sort}
		)
	</insert>

	<insert id="batchInsert">
		INSERT INTO tb_icitemclass(
			id,
			f_erpid,
			f_number,
			f_name,
			f_modifytime,
			f_erpnote,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			parent_id,
			parent_ids,
			name,
			sort
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			<trim prefix="(" suffix=")">
				#{item.id},
				#{item.erpId},
				#{item.number},
				#{item.name},
				#{item.modifyTime},
				#{item.erpNote},
				#{item.createBy.id},
				#{item.createDate},
				#{item.updateBy.id},
				#{item.updateDate},
				#{item.remarks},
				#{item.delFlag},
				#{item.parent.id},
				#{item.parentIds},
				#{item.name},
				#{item.sort}
			</trim>
		</foreach>
	</insert>
	
	<update id="update">
		UPDATE tb_icitemclass SET 	
			f_erpid = #{erpId},
			f_number = #{number},
			f_name = #{name},
			f_modifytime = #{modifyTime},
			f_erpnote = #{erpNote},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			parent_id = #{parent.id},
			parent_ids = #{parentIds},
			name = #{name},
			sort = #{sort}
		WHERE id = #{id}
	</update>
	
	<update id="updateParentIds">
		UPDATE tb_icitemclass SET 
			parent_id = #{parent.id}, 
			parent_ids = #{parentIds}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tb_icitemclass
		WHERE id = #{id} OR parent_ids LIKE 
		<if test="dbName == 'oracle'">'%,'||#{id}||',%'</if>
		<if test="dbName == 'mssql'">'%,'+#{id}+',%'</if>
        <if test="dbName == 'mysql'">CONCAT('%,', #{id}, ',%')</if>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tb_icitemclass SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id} OR parent_ids LIKE 
		<if test="dbName == 'oracle'">'%,'||#{id}||',%'</if>
		<if test="dbName == 'mssql'">'%,'+#{id}+',%'</if>
        <if test="dbName == 'mysql'">CONCAT('%,', #{id}, ',%')</if>
	</update>

    <delete id="deleteAllData">
        delete from tb_icitemclass
    </delete>
	
</mapper>