<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.icitemclass.mapper.IcitemMapper">
    
	<sql id="icitemColumns">
		a.id AS "id",
		a.f_erpid AS "erpId",
		a.f_classid AS "classId",
		a.f_number AS "number",
		a.f_name AS "name",
		a.f_model AS "model",
		a.f_unit AS "unit",
		a.f_erpclassid AS "erpclassId",
		a.f_modifytime AS "modifyTime",
		a.f_erpnote AS "erpNote",
		a.f_status AS "status",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		b.f_name AS "itemClassName"
	</sql>
	
	<sql id="icitemJoins">
			LEFT JOIN tb_icitemclass b ON b.id = a.f_classid
	</sql>
	
    
	<select id="get" resultType="Icitem" >
		SELECT 
			<include refid="icitemColumns"/>
		FROM tb_icitem a
		<include refid="icitemJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Icitem" >
		SELECT 
			<include refid="icitemColumns"/>
		FROM tb_icitem a
		<include refid="icitemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
                    <if test="classId != null  and classId.id != null and classId.id != ''">
                        AND (b.id = #{classId.id} OR b.parent_ids LIKE
                        <if test="dbName == 'oracle'">'%,'||#{classId.id}||',%')</if>
                        <if test="dbName == 'mysql'">CONCAT('%,', #{classId.id}, ',%'))</if>
                        <if test="dbName == 'mssql'">'%'+#{classId.id}+'%')</if>
                    </if>
			<if test="number != null and number != ''">
				AND a.f_number LIKE 
					<if test="dbName == 'oracle'">'%'||#{number}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{number}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{number},'%')</if>
			</if>
			<if test="name != null and name != ''">
				AND a.f_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="model != null and model != ''">
				AND a.f_model LIKE 
					<if test="dbName == 'oracle'">'%'||#{model}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{model}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{model},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
		<if test="(startPage != null and startPage != '') and (endPage != null and endPage != '')">
			LIMIT #{startPage},#{endPage}
		</if>
	</select>
	
	<select id="findAllList" resultType="Icitem" >
		SELECT 
			<include refid="icitemColumns"/>
		FROM tb_icitem a
		<include refid="icitemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tb_icitem(
			id,
			f_erpid,
			f_classid,
			f_number,
			f_name,
			f_model,
			f_unit,
			f_erpclassid,
			f_modifytime,
			f_erpnote,
			f_status,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{erpId},
			#{classId.id},
			#{number},
			#{name},
			#{model},
			#{unit},
			#{erpclassId},
			#{modifyTime},
			#{erpNote},
			#{status},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE tb_icitem SET 	
			f_erpid = #{erpId},
			f_classid = #{classId.id},
			f_number = #{number},
			f_name = #{name},
			f_model = #{model},
			f_unit = #{unit},
			f_erpclassid = #{erpclassId},
			f_modifytime = #{modifyTime},
			f_erpnote = #{erpNote},
			f_status = #{status},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tb_icitem
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE f_classid = #{classId}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tb_icitem SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE f_classid = #{classId}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Icitem" statementType="STATEMENT">
		select * FROM tb_icitem  where ${propertyName} = '${value}'
	</select>
	
</mapper>