<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.warehouse.mapper.WarehouseMapper">
    
	<sql id="warehouseColumns">
		a.id AS "id",
		a.f_erpid AS "erpid",
		a.f_number AS "number",
		a.f_name AS "name",
		a.f_modifytime AS "modifytime",
		a.f_status AS "status",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="warehouseJoins">
		
	</sql>
	
    
	<select id="get" resultType="Warehouse" >
		SELECT 
			<include refid="warehouseColumns"/>
		FROM tb_warehouse a
		<include refid="warehouseJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Warehouse" >
		SELECT 
			<include refid="warehouseColumns"/>
		FROM tb_warehouse a
		<include refid="warehouseJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Warehouse" >
		SELECT 
			<include refid="warehouseColumns"/>
		FROM tb_warehouse a
		<include refid="warehouseJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tb_warehouse(
			id,
			f_erpid,
			f_number,
			f_name,
			f_modifytime,
			f_status,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{erpid},
			#{number},
			#{name},
			#{modifytime},
			#{status},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE tb_warehouse SET 	
			f_erpid = #{erpid},
			f_number = #{number},
			f_name = #{name},
			f_modifytime = #{modifytime},
			f_status = #{status},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tb_warehouse
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tb_warehouse SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Warehouse" statementType="STATEMENT">
		select * FROM tb_warehouse  where ${propertyName} = '${value}'
	</select>
	
</mapper>