<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.sobillandentry.mapper.SobillMapper">
    
	<sql id="sobillColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.f_erpid AS "erpId",
		a.f_type AS "type",
		a.f_billno AS "billNo",
		a.f_synstatus AS "synStatus",
		a.f_syntime AS "synTime",
		a.f_custid AS "custId",
		a.f_deptid AS "deptId",
		a.f_emplid AS "emplId",
		a.f_currencyid AS "currencyId",
		a.f_needtime AS "needTime",
		a.f_status AS "status",
		a.f_cancellation AS "cancellation",
		a.f_checkerid AS "checkerId",
		a.f_checktime AS "checkTime",
		a.f_checkstatus AS "checkStatus",
		a.f_amount AS "amount"
	</sql>
	
	<sql id="sobillJoins">
		
	</sql>
	
    
	<select id="get" resultType="Sobill" >
		SELECT 
			<include refid="sobillColumns"/>
		FROM ic_sobill a
		<include refid="sobillJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Sobill" >
		SELECT 
			<include refid="sobillColumns"/>
		FROM ic_sobill a
		<include refid="sobillJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="billNo != null and billNo != ''">
				AND a.f_billno = #{billNo}
			</if>
			<if test="synStatus != null and synStatus != ''">
				AND a.f_synstatus = #{synStatus}
			</if>
			<if test="custId != null and custId != ''">
				AND a.f_custid LIKE 
					<if test="dbName == 'oracle'">'%'||#{custId}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{custId}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{custId},'%')</if>
			</if>
			<if test="deptId != null and deptId != ''">
				AND a.f_deptid LIKE 
					<if test="dbName == 'oracle'">'%'||#{deptId}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{deptId}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{deptId},'%')</if>
			</if>
			<if test="emplId != null and emplId != ''">
				AND a.f_emplid LIKE 
					<if test="dbName == 'oracle'">'%'||#{emplId}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{emplId}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{emplId},'%')</if>
			</if>
			<if test="beginNeedTime != null and endNeedTime != null ">
				AND a.f_needtime BETWEEN #{beginNeedTime} AND #{endNeedTime}
			</if>
			<if test="cancellation != null and cancellation != ''">
				AND a.f_cancellation = #{cancellation}
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				AND a.f_checkstatus = #{checkStatus}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Sobill" >
		SELECT 
			<include refid="sobillColumns"/>
		FROM ic_sobill a
		<include refid="sobillJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO ic_sobill(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			f_erpid,
			f_type,
			f_billno,
			f_synstatus,
			f_syntime,
			f_custid,
			f_deptid,
			f_emplid,
			f_currencyid,
			f_needtime,
			f_status,
			f_cancellation,
			f_checkerid,
			f_checktime,
			f_checkstatus,
			f_amount
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{erpId},
			#{type},
			#{billNo},
			#{synStatus},
			#{synTime},
			#{custId},
			#{deptId},
			#{emplId},
			#{currencyId},
			#{needTime},
			#{status},
			#{cancellation},
			#{checkerId},
			#{checkTime},
			#{checkStatus},
			#{amount}
		)
	</insert>
	
	<update id="update">
		UPDATE ic_sobill SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			f_erpid = #{erpId},
			f_type = #{type},
			f_billno = #{billNo},
			f_synstatus = #{synStatus},
			f_syntime = #{synTime},
			f_custid = #{custId},
			f_deptid = #{deptId},
			f_emplid = #{emplId},
			f_currencyid = #{currencyId},
			f_needtime = #{needTime},
			f_status = #{status},
			f_cancellation = #{cancellation},
			f_checkerid = #{checkerId},
			f_checktime = #{checkTime},
			f_checkstatus = #{checkStatus},
			f_amount = #{amount}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM ic_sobill
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE ic_sobill SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Sobill" statementType="STATEMENT">
		select * FROM ic_sobill  where ${propertyName} = '${value}'
	</select>
	
</mapper>