<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.sobillandentry.mapper.SobillMapper">
    
	<sql id="sobillColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		creater.name AS "createBy.name",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.f_erpid AS "erpId",
		a.f_type AS "type",
		a.f_billno AS "billNo",
		a.f_synstatus AS "synStatus",
		a.f_syntime AS "synTime",
		a.f_custid AS "custId",
		a.f_emplid AS "emplId",
		a.f_currencyid AS "currencyId",
		a.f_needtime AS "needTime",
		a.f_status AS "status",
		a.f_cancellation AS "cancellation",
		a.f_checkerid AS "checkerId",
		a.f_checktime AS "checkTime",
		a.f_checkstatus AS "checkStatus",
		a.f_amount AS "amount",
		a.f_followerid AS "followerId",
		emp.name AS "empName",
		checker.name AS "checkerName",
		dept.name AS "deptName",
		cus.f_name AS "cusName",
		follower.name AS "followerName",
		date_format(a.f_needtime, '%Y-%m-%d') AS "needTimeStr"
	</sql>
	
	<sql id="sobillJoins">
		LEFT JOIN sys_user AS emp ON a.f_emplid = emp.id
		LEFT JOIN sys_user AS checker ON a.f_checkerid = checker.id
		LEFT JOIN sys_office AS dept ON emp.office_id = dept.id
		LEFT JOIN tb_customer AS cus ON a.f_custid = cus.id
		LEFT JOIN sys_user AS creater ON a.create_by = creater.id
		LEFT JOIN sys_user AS follower ON a.f_followerid = follower.id
	</sql>
	
    
	<select id="get" resultType="Sobill" >
		SELECT 
			<include refid="sobillColumns"/>
		FROM ic_sobill a
		<include refid="sobillJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Sobill" >
		SELECT 
			<include refid="sobillColumns"/>
		FROM ic_sobill a
		<include refid="sobillJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="billNo != null and billNo != ''">
				AND a.f_billno = #{billNo}
			</if>
			<if test="synStatus != null">
				AND a.f_synstatus = #{synStatus}
			</if>
			<if test="cusName != null and cusName != ''">
				AND cus.f_name LIKE
					<if test="dbName == 'oracle'">'%'||#{cusName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{cusName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{cusName},'%')</if>
			</if>
			<if test="empName != null and empName != ''">
				AND emp.name LIKE
					<if test="dbName == 'oracle'">'%'||#{empName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{empName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{empName},'%')</if>
			</if>
			<if test="(beginNeedTime != null and beginNeedTime != '') and (endNeedTime != null and endNeedTime != '') ">
				AND a.f_needtime BETWEEN #{beginNeedTime} AND #{endNeedTime}
			</if>
			<if test="cancellation != null">
				AND a.f_cancellation = #{cancellation}
			</if>
			<if test="checkStatus != null">
				AND a.f_checkstatus = #{checkStatus}
			</if>

            <if test="emplId != null and emplId != ''">
                AND a.f_emplid = #{emplId}
            </if>

            <if test="isHistory == true">
                AND a.create_date &lt; CURDATE()
            </if>

            <if test="startTime != null and startTime != ''">
                AND a.create_date <![CDATA[ >= ]]> #{startTime}
            </if>

            <if test="endTime != null and endTime != ''">
                AND a.create_date <![CDATA[ <= ]]> #{endTime}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>

		<if test="startPage != null and endPage != null">
			LIMIT #{startPage},#{endPage}
		</if>
	</select>
	
	<select id="findAllList" resultType="Sobill" >
		SELECT 
			<include refid="sobillColumns"/>
		FROM ic_sobill a
		<include refid="sobillJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO ic_sobill(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			f_erpid,
			f_type,
			f_billno,
			f_synstatus,
			f_syntime,
			f_custid,
			f_emplid,
			f_currencyid,
			f_needtime,
			f_status,
			f_cancellation,
			f_checkerid,
			f_checktime,
			f_checkstatus,
			f_amount,
			f_followerid
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{erpId},
			#{type},
			#{billNo},
			#{synStatus},
			#{synTime},
			#{custId},
			#{emplId},
			#{currencyId},
			#{needTime},
			#{status},
			#{cancellation},
			#{checkerId},
			#{checkTime},
			#{checkStatus},
			#{amount},
			#{followerId}
		)
	</insert>
	
	<update id="update">
		UPDATE ic_sobill SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			f_erpid = #{erpId},
			f_type = #{type},
			f_billno = #{billNo},
			f_custid = #{custId},
			f_emplid = #{emplId},
			f_currencyid = #{currencyId},
			f_needtime = #{needTime},
			f_status = #{status},
			f_checkerid = #{checkerId},
			f_checktime = #{checkTime},
			f_checkstatus = #{checkStatus},
			f_amount = #{amount},
			f_followerid = #{followerId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM ic_sobill
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE ic_sobill SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Sobill" statementType="STATEMENT">
		select * FROM ic_sobill  where ${propertyName} = '${value}'
	</select>

    <select id="findSubmittedList" parameterType="Sobill" resultType="Sobill">
        SELECT
            (SELECT approve.f_type FROM ic_order_approve approve WHERE approve.del_flag = '0' AND approve.f_sobillid = a.id ORDER BY approve.f_status DESC,approve.f_index DESC LIMIT 0,1) AS "approveType",
            (SELECT approve.f_status FROM ic_order_approve approve WHERE approve.del_flag = '0' AND approve.f_sobillid = a.id ORDER BY approve.f_status DESC,approve.f_index DESC LIMIT 0,1) AS "approveStatus",
            (SELECT approve.f_islast FROM ic_order_approve approve WHERE approve.del_flag = '0' AND approve.f_sobillid = a.id ORDER BY approve.f_status DESC,approve.f_index DESC LIMIT 0,1) AS "isLast",
            (SELECT date_format(approve.create_date, '%Y-%m-%d %H:%m:%s') FROM ic_order_approve approve WHERE approve.del_flag = '0' AND approve.f_sobillid = a.id ORDER BY approve.f_index ASC LIMIT 0,1) AS "initiateDateStr",
            <include refid="sobillColumns"/>
        FROM
            ic_sobill a
            <include refid="sobillJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.id IN (SELECT approve.f_sobillid FROM ic_order_approve approve WHERE approve.del_flag = '0')
            <if test="emplId != null and emplId != ''">
                AND a.f_emplid = #{emplId}
            </if>

            <if test="cusName != null and cusName != ''">
                AND cus.f_name LIKE
                <if test="dbName == 'oracle'">'%'||#{cusName}||'%'</if>
                <if test="dbName == 'mssql'">'%'+#{cusName}+'%'</if>
                <if test="dbName == 'mysql'">concat('%',#{cusName},'%')</if>
            </if>
        </where>
        <if test="startPage != null and endPage != null">
            LIMIT #{startPage},#{endPage}
        </if>
    </select>


</mapper>