<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.sobillandentry.mapper.SobillentryMapper">
    
	<sql id="sobillentryColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.f_sobillid AS "sobillId",
		a.f_itemid AS "itemId",
		a.f_auxpropid AS "auxpropid",
		a.f_price AS "price",
		a.f_auxqty AS "auxqty",
		a.f_amount AS "amount",
		a.f_rowid AS "rowId",
		item.f_name AS "itemName",
		item.f_model AS "model",
		item.f_unit AS "unit",
		item.f_number AS "number"
	</sql>
	
	<sql id="sobillentryJoins">
		LEFT JOIN ic_sobill bill ON a.f_sobillid = bill.id
		LEFT JOIN tb_icitem item ON a.f_itemid = item.id
	</sql>
	
    
	<select id="get" resultType="Sobillentry" >
		SELECT 
			<include refid="sobillentryColumns"/>
		FROM ic_sobillentry a
		<include refid="sobillentryJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Sobillentry" >
		SELECT 
			<include refid="sobillentryColumns"/>
		FROM ic_sobillentry a
		<include refid="sobillentryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="sobillId.id != null and sobillId.id != ''">
				AND a.f_sobillid = #{sobillId.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Sobillentry" >
		SELECT 
			<include refid="sobillentryColumns"/>
		FROM ic_sobillentry a
		<include refid="sobillentryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO ic_sobillentry(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			f_sobillid,
			f_itemid,
			f_auxpropid,
			f_price,
			f_auxqty,
			f_amount,
			f_rowid
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{sobillId.id},
			#{itemId},
			#{auxpropid},
			#{price},
			#{auxqty},
			#{amount},
			#{rowId}
		)
	</insert>
	
	<update id="update">
		UPDATE ic_sobillentry SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			f_itemid = #{itemId},
			f_auxpropid = #{auxpropid},
			f_price = #{price},
			f_auxqty = #{auxqty},
			f_amount = #{amount},
			f_rowid = #{rowId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM ic_sobillentry
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE f_sobillid = #{sobillId.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE ic_sobillentry SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE f_sobillid = #{sobillId.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Sobillentry" statementType="STATEMENT">
		select * FROM ic_sobillentry  where ${propertyName} = '${value}'
	</select>

</mapper>