<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.wxuser.mapper.WxUserMapper">
    
	<sql id="wxUserColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.open_id AS "openId",
		a.nickname AS "nickName",
		a.sex AS "sex",
		a.city AS "city",
		a.country AS "country",
		a.province AS "province",
		a.client_id AS "client.id",
		a.access_token AS "accessToken",
		a.access_token_expire_id AS "accessTokenExpireId",
		a.refresh_token AS "refreshToken",
		a.refresh_token_expire_id AS "refreshTokenExpireId",
				
				
				
				
				
				
				
				
				
				
				
				
				
		client.f_name AS "client.name"
	</sql>
	
	<sql id="wxUserJoins">
		
		LEFT JOIN tb_customer client ON client.id = a.client_id
	</sql>
	
    
	<select id="get" resultType="WxUser" >
		SELECT 
			<include refid="wxUserColumns"/>
		FROM tb_wx_user a
		<include refid="wxUserJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="WxUser" >
		SELECT 
			<include refid="wxUserColumns"/>
		FROM tb_wx_user a
		<include refid="wxUserJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="nickName != null and nickName != ''">
				AND a.nickname = #{nickName}
			</if>
			<if test="client != null and client.id != null and client.id != ''">
				AND a.client_id = #{client.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="WxUser" >
		SELECT 
			<include refid="wxUserColumns"/>
		FROM tb_wx_user a
		<include refid="wxUserJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="getByOpenId" resultType="WxUser">
		SELECT
			<include refid="wxUserColumns"/>
		FROM tb_wx_user a
		<include refid="wxUserJoins"/>
		<where>
			1 = 1
			<if test="openId != null and openId != ''">
				and a.open_id = #{openId}
			</if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO tb_wx_user(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			open_id,
			nickname,
			sex,
			city,
			country,
			province,
			client_id,
			access_token,
			access_token_expire_id,
			refresh_token,
			refresh_token_expire_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{openId},
			#{nickName},
			#{sex},
			#{city},
			#{country},
			#{province},
			#{client.id},
			#{accessToken},
			#{accessTokenExpireId},
			#{refreshToken},
			#{refreshTokenExpireId}
		)
	</insert>
	
	<update id="update">
		UPDATE tb_wx_user SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			open_id = #{openId},
			nickname = #{nickName},
			sex = #{sex},
			city = #{city},
			country = #{country},
			province = #{province},
			client_id = #{client.id},
			access_token = #{accessToken},
			access_token_expire_id = #{accessTokenExpireId},
			refresh_token = #{refreshToken},
			refresh_token_expire_id = #{refreshTokenExpireId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tb_wx_user
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tb_wx_user SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WxUser" statementType="STATEMENT">
		select * FROM tb_wx_user  where ${propertyName} = '${value}'
	</select>
	
</mapper>