<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.customer.mapper.CustomerMapper">
    
	<sql id="customerColumns">
		a.id AS "id",
		a.f_erpid AS "erpId",
		a.f_number AS "number",
		a.f_name AS "name",
		a.f_deptid AS "deptId",
		a.f_emplid AS "emplId",
		a.f_currencyid AS "currencyId",
		a.f_erpnote AS "erpNote",
		a.f_status AS "status",
		a.f_creditamt AS "crediTamt",
		a.f_modifytime AS "modifyTime",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		office.name AS "office.name",
		user.name AS "user.name"
	</sql>
	
	<sql id="customerJoins">
		LEFT JOIN sys_office office ON office.id = a.f_deptid
		LEFT JOIN sys_user user ON user.id = a.f_emplid
	</sql>
	
    
	<select id="get" resultType="Customer" >
		SELECT 
			<include refid="customerColumns"/>
		FROM tb_customer a
		<include refid="customerJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Customer" >
		SELECT 
			<include refid="customerColumns"/>
		FROM tb_customer a
		<include refid="customerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="info != null and info != ''">
				AND a.f_number LIKE concat('%',#{info},'%') or a.f_name LIKE concat('%',#{info},'%')
			</if>
            <if test="name != null and name != ''">
                AND a.f_name LIKE concat('%',#{name},'%')
            </if>
            <if test="emplId != null and emplId != ''">
                AND a.f_emplid = #{emplId}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Customer" >
		SELECT 
			<include refid="customerColumns"/>
		FROM tb_customer a
		<include refid="customerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findMaxModifyTime" resultType="java.lang.String">
		SELECT MAX(f_modifytime+0) FROM tb_customer
	</select>

	<select id="getByName" resultType="Customer">
		SELECT
			<include refid="customerColumns"/>
		FROM tb_customer a
		<include refid="customerJoins"/>
		<where>
			1 = 1
			<if test="clientName != null and clientName != ''">
				and a.f_name = #{clientName}
			</if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO tb_customer(
			id,
			f_erpid,
			f_number,
			f_name,
			f_deptid,
			f_emplid,
			f_currencyid,
			f_erpnote,
			f_status,
			f_creditamt,
			f_modifytime,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{erpId},
			#{number},
			#{name},
			#{deptId},
			#{emplId},
			#{currencyId},
			#{erpNote},
			#{status},
			#{crediTamt},
			#{modifyTime},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE tb_customer SET 	
			f_erpid = #{erpId},
			f_number = #{number},
			f_name = #{name},
			f_deptid = #{deptId},
			f_emplid = #{emplId},
			f_currencyid = #{currencyId},
			f_erpnote = #{erpNote},
			f_status = #{status},
			f_creditamt = #{crediTamt},
			f_modifytime = #{modifyTime},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tb_customer
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tb_customer SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Customer" statementType="STATEMENT">
		select * FROM tb_customer  where ${propertyName} = '${value}'
	</select>

    <delete id="deleteAllData">
        delete from tb_customer
    </delete>
	
</mapper>