<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.management.newsto.mapper.NewsToMapper">
    
	<sql id="newsToColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.f_newsid AS "newsId",
		a.f_emplid AS "emplId",
		a.f_ispush AS "isPush",
		a.f_issuccee AS "isSuccee",
		a.f_error AS "error",
		a.f_isread AS "isRead"
	</sql>
	
	<sql id="newsToJoins">
		
	</sql>
	
    
	<select id="get" resultType="NewsTo" >
		SELECT 
			<include refid="newsToColumns"/>
		FROM tb_newsto a
		<include refid="newsToJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="NewsTo" >
		SELECT 
			<include refid="newsToColumns"/>
		FROM tb_newsto a
		<include refid="newsToJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="NewsTo" >
		SELECT 
			<include refid="newsToColumns"/>
		FROM tb_newsto a
		<include refid="newsToJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tb_newsto(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			f_newsid,
			f_emplid,
			f_ispush,
			f_issuccee,
			f_error,
			f_isread
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{newsId},
			#{emplId},
			#{isPush},
			#{isSuccee},
			#{error},
			#{isRead}
		)
	</insert>
	
	<update id="update">
		UPDATE tb_newsto SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			f_newsid = #{newsId},
			f_emplid = #{emplId},
			f_ispush = #{isPush},
			f_issuccee = #{isSuccee},
			f_error = #{error},
			f_isread = #{isRead}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tb_newsto
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tb_newsto SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="NewsTo" statementType="STATEMENT">
		select * FROM tb_newsto  where ${propertyName} = '${value}'
	</select>
	
</mapper>