.addOrder-list{
    display: flex;
    padding: 8px 15px;
    background: #fff;
    font-size: 15px;
}
.addOrder-list+.addOrder-list{
    margin-top: 1px;
}
.addOrder-list_bd{
    flex: 1;
}
.addOrder-list_bd span{
    color: #F20000;
    margin-right: 5px;
}
.addOrder-list_ft{
    color: #999;
    font-size: 14px;
}
.addOrder-list_ft img{
    width: 15px;
    vertical-align: -3px;
}
.btn-cell{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 5px;
    text-align: center;
}
.btn-cell button{
    border: unset;
    border-radius: 5px;
    color: #fff;
    padding: 7px 20px;
}
.btn-cell .back-btn{
    background: #999;
}
.btn-cell .add-btn{
    background: rgb(5, 226, 93);
}
.btn-cell button img{
    width: 15px;
    margin-right: 3px;
    vertical-align: -2px;
}
.upper-list{
    background: #ffffff;
    padding: 10px 15px;
}
.upper-list+.upper-list{
    margin-top: 1px;
}
.checkbox{
    float: right;
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    border-radius: 50%;
    margin-top: 2px;
}
.upper-list.isChoosed .ischecked{
    width: 8px;
    height: 8px;
    background: rgb(15, 118, 224);
    border-radius: 50%;
    margin: 2px;
    /*display: none;*/
}
.upper-panel{
    display: none;
}
.order-date_input{
    border: unset;
    text-align: right;
}
.addOrder-title{
    padding: 10px 15px;
}
.addOrder-title img{
    width: 15px;
    margin-right: 4px;
    vertical-align: -2px;
}
.addOrder-list.big-list{
    margin-top: 5px;
}
.addOrder-textarea{
    width: 100%;
    height: 100px;
    border: unset;
}
#upper-panel_title{
    padding: 10px 15px;
    color: #4a4a4a;
}
#upper-panel_title span{
    color: #F20000;
}
.date-input{
    text-align: right;
    color: #999;
    border: unset;
}
input::-webkit-input-placeholder {
    color: #999;
}
.header-panel{
    background: #fff;
    padding: 10px;
}
.cus-cell_bg{
    background: #c9def1;
    border-radius: 5px;
    padding: 10px;
}
.cus-list{
    display: flex;
    font-size: 14px;
    position: relative;
}
.cus-list_item{
    flex: 1;
    color: #333;
}
.cus-list_item span{
    color: #2f2f2f;
}
.pro-cell{
    position: relative;
    background: #eee;
    border-radius: 10px 10px 10px 10px;
    margin: 2%;
}
.pro-cell_right{
    background: #ffffff;
    padding: 10px;
    position: sticky;
}
.pro-list{
    display: flex;
    color: #666;
    font-size: 14px;
    padding: 0 13px;
}
.pro-list+.pro-list{
    margin-top: 5px;
}
.pro-item_left{
    flex: 1;
}
.pro-item_right{
    width: 120px;
}
.icon-number{
    width: 12px;
    /*vertical-align: -2px;*/
    margin-right: 1px;
}
.pro-title{
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 5px;
}
.pro-cell+.pro-cell{
    border-top: 1px solid rgba(221, 221, 221, 0.41);
    /*padding-top: 10px;*/
}
.icon-arrow{
    width: 20px;
    height: 20px;
    /* margin-top: -2px; */
    position: absolute;
    right: 0;
    top: 0;
}
@media screen and (max-width: 350px){
    .cus-list{
        display: block;
    }
}
.icon-choose{
    width: 15px;
    margin: 5px 10px 2px;
}
.icon-check{
    width: 12px;
    height: 12px;
    border: 1px solid #0f76e0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    display: none;
}
.icon-check_inside{
    width: 8px;
    height: 8px;
    background: #0f76e0;
    border-radius: 50%;
    margin: 2px;
}
.icon-edit{
    font-size: 12px;
    color: #0f76e0;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
    display: none;
}
.icon-commit{
    font-size: 12px;
    color: #0f76e0;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
    display: none;
}